.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #888;
    border-radius: 4px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-checkbox.checked {
    background-color: #0075ff; /* Green color when checked */
    color: white;
  }
  
  .custom-checkbox.unchecked {
    background-color: white; /* Red color when unchecked */
  }
  
  .custom-checkbox.indeterminate {
    background-color: lightgray /* Yellow color for indeterminate state */
  }
  