.menu {
  display: none;
}

.container {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
}

.container .toppage td {
  padding-top: 70px;
  background-color: #f5bb1b;
}

.container .name {
  text-align: center;
  font-size: xx-large;
}

.container .role {
  text-align: center;
  font-size: medium;
  color: #f5bb1b;
}

.container .contact table {
  text-align: center;
  width: 100%;
  border-bottom-style: solid;
  border-top-style: solid;
}

.container .body {
  border-radius: 5px;
  column-count: 2;
  column-gap: 20px;
}

.container .body .section {
  display: contents;
}

.container .body .section .title {
  color: #f5bb1b;
  font-size: larger;
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container .body .section .title .icon {
  margin-left: 0px;
}

.container .body .section .title .text {
  margin-left: 10px;
}

.container .body .section .title .filler {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.container .body .section .contents {
  text-align: justify;
}

.hidden {
  color: #ebebeb;
  background-color: #ebebeb;
}

.skill {
  width: 100%;
  height: 20px;
  background-color: #4d4d4d;
  border-radius: 5px;
  margin-bottom: 5px;
}

.skill-bar {
  height: 100%;
  background-color: #f5bb1b;
  border-radius: 5px;
}

.selected {
  border: solid blue;
}

.unselected {
  border: solid transparent;
}

.experience .roles {
  font-size: large;
}

.experience .company-period {
  display: grid;
  grid-template-columns: min-content max-content min-content;
}

.experience .company-period .icon {
  margin-left: 10px;
}

.experience .container .box {
  font-style: italic;
  font-size: small;
  margin-left: 10px;
  border-color: #000000;
  border-width: 20px;
  border-radius: 5px;
  background-color: #f5bb1b;
}

.experience .company-period .company, .school-period .school {
  color: #f5bb1b;
  font-size: medium;
  text-transform: uppercase;
  margin-left: 0px;
}

.experience .company-period .period, .school-period .period {
  color: #dddddd;
  font-style: italic;
  font-size: small;
  margin-left: 10px;
}

.list {
  list-style-type: none;
  padding-left: 20px;
}

.list li:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #f5bb1b;
  margin-right: 10px;
}

.pagination {
  background-color:  #f5bb1b;
  display: flex;
  justify-content: space-between;
  border-color: #000000;
  border-width: 20px;
  border-radius: 5px;
}

.prev {
  margin-right: auto;
}

.more {
  text-align: center;
}

.next {
  margin-left: auto;
}

.help {
  display: none;
}